<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Marlin</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="strona1" Match="NavLinkMatch.All">
                        <span class="oi oi-plus" aria-hidden="true"></span> Menu 1
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="strona2">
                        <span class="oi oi-plus" aria-hidden="true"></span> Menu 2
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="strona3">
                        <span class="oi oi-plus" aria-hidden="true"></span> Menu 3
                    </NavLink>
                </li>
            </ul>
                <NavLink class="nav-link auth text-end">
                    <LoginDisplay/>
                </NavLink>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}